:root {
  --border-color: rgba(255, 255, 255, .1);
  --page-gap: 25px;
  --wrapper-max-width: 1200px;
  --post-max-width: 780px;
  --post-mobile-max-width: 680px;
  --font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Segoe UI Emoji", "Segoe UI Symbol";
  --header-height: 60px;

  // light theme
  --accent: #27407f;
  --background: #FFF;
  --header-backgound: rgba(255, 255, 255, .95);
  --header-nav-active-color: #8a96b5;
  --box-shadow: rgba(0,0, 0, .3);
  --color: #333;
  --link-color: #0048ff;
  --heading-color: #000;
  --border-color: #DDD;

  // dark theme
  //--accent: #FFA86A;
  //--background: #19191c;
  //--color: #bfbfc0;
  //--heading-color: #FFF;
  //--border-color: #333;
}

$phone-max-width: 1000px;

@mixin phone {
  @media (max-width: $phone-max-width) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: $phone-max-width + 1) {
    @content;
  }
}
