.footer-wrapper {
  border-top: var(--border-color) 1px solid;
  padding-top: calc(var(--header-height)/2);
  padding-bottom: var(--header-height);
  margin: 2em auto 0;
}

.footer {
  padding: 0 var(--page-gap);
  margin: 0 auto;
  max-width: var(--post-max-width);
  color: var(--header-nav-active-color);

  @include phone {
    text-align: center;
    max-width: var(--post-mobile-max-width);
  }
}

.footer-nav-a {
  color: var(--header-nav-active-color);
  margin-right: 5px;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.footer-logos {
  margin-bottom: 5px;

  img {
    width: auto;
    max-height: 50px;
  }
}
