.footer {
  padding: 0 var(--page-gap);
  padding-top: calc(var(--header-height)/2);
  padding-bottom: var(--header-height);
  margin: 2em auto 0;
  max-width: var(--post-max-width);
  border-top: var(--border-color) 1px solid;
  color: var(--footer-color);

  @include phone {
    text-align: center;
    max-width: var(--post-mobile-max-width);
  }
}

.footer-nav-a {
  color: var(--footer-color);
  margin-right: 5px;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.footer-logos {
  margin-bottom: 5px;

  img {
    width: auto;
    max-height: 50px;
  }
}
